@* @{ *@
@* 	ViewData["Title"] = "Dashboard"; *@

@* } *@
@* <div class=" text-center"> *@
@* 	<h1 class="display-4">My Products</h1> *@
@* </div> *@

@* <table class="table"> *@
@* 	<thead> *@
@* 		<tr> *@
@* 			<th> *@
@* 				Category *@
@* 			</th> *@
@* 			<th> *@
@* 				Nb of Types *@
@* 			</th> *@
@* 			<th> *@
@* 				Qt Total *@
@* 			</th> *@
@* 				<th> *@
@* 				Qt in Stock *@
@* 			</th> *@
@* 			<th> *@
@* 				Top Product *@
@* 			</th> *@
@* 			<th> *@
@* 				Last Update *@
@* 			</th> *@
@* 			<th> *@
@* 				Value € *@
@* 			</th> *@

@* 		</tr> *@
@* 	</thead> *@
@* 	<tbody> *@

@* 	</tbody> *@

@* </table> *@
